html, body, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
    -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
    -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
    -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
    color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #262626;
    color: white;
}

* {
    font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

/*not working in firefox*/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.page {
    position: absolute;
}

.page section {
    width: 95%;
}

.page .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    left: 0;
    margin: auto;
    text-align: center;
    height: 220px;
    font-size: 10rem;
    transform: translateX(5%) !important;
}

#home-page {
    left: 0;
}

#merge-requests-page,
#pipelines-page,
#settings-page {
    left: 200%;
}

/*switch page*/
#merge-requests:target #merge-requests-page,
#pipelines:target #pipelines-page,
#settings:target #settings-page {
    transform: translateX(-195%);
    -webkit-transform: translateX(-195%);
    -moz-transform: translateX(-195%);
    -o-transform: translateX(-195%);
    transition-delay: .4s !important;
}

#merge-requests:target #home-page .icon,
#pipelines:target #home-page .icon,
#settings:target #home-page .icon {
    -webkit-filter: blur(3px);
}

#menu {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 300px;
    width: 5%;
    padding: 0;
    text-align: center;
}

#menu .icon {
    color: #fff;
    font-size: 2rem;
    display: block;
    margin: 30px 0;
    transition: all .5s ease-out !important;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}

#menu .icon:hover {
    opacity: 0.5;
}

#menu .failed {
    color: #C62828 !important;
}

/*shrink menu icons*/
#merge-requests:target ul .icon,
#pipelines:target ul .icon,
#settings:target ul .icon {
    transform: scale(.6);
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -o-transform: scale(.6);
    transition-delay: .25s;
}

/*enlarge active icon*/
#home:target #hme,
#merge-requests:target #mr,
#pipelines:target #pipe,
#settings:target #cfg,
#settings:target #cinco {
    transform: scale(1.2) !important;
    -webkit-transform: scale(1.2) !important;
    -moz-transform: scale(1.2) !important;
    -o-transform: scale(1.2) !important;
}

.title, .hint {
    display: block;
}

.title {
    font-size: 2rem;
}

.hint {
    font-size: 1rem;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.container {
    padding: 0 16px;
    height: 100%;
}

.card {
    margin: 4px;
    border-radius: 3px;
    background-color: #424242;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /*max-width: 400px;*/
    /*overflow-wrap: break-word;*/
}

.card.success {
    background-color: #2E7D32;
}

.card.running {
    background-color: #1565C0;
}

.card.pending {
    background-color: #A93F00;
}

.card.failed {
    background-color: #C62828;
}

.card.canceled {
    background-color: #010101;
}

.card.skipped {
    background-color: #4b4b4b;
}

.card .content {
    padding: 12px;
}

.card .content .title {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

.card .content .title.small {
    font-size: 0.8rem;
}

.card .content .no-pipelines {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.card .spacer {
    flex-grow: 1;
}

.card .info {
    padding: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.card .info span {
    margin-right: 10px;
}

.branch i {
    margin-right: 4px;
}

.branch {
    display: flex;
    align-items: center;
    padding: 0 0 2px 0;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.pipeline {
    display: flex;
    align-items: center;
    color: white;
}

.pipeline .pipeline-id {
    margin-right: 8px;
}

.pipeline .jobs {
    white-space: nowrap;
    margin-right: 8px;
}

.job {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.job:last-child .pipe {
    display: none;
}

.job .job-circle {
    width: auto;
    display: inline-flex;
    border: 1.5px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    line-height: 1rem;
    padding: 0 6px;
    font-size: 12px;
    transition: background-color 200ms;
}

.job .job-circle.square {
    width: 24px;
    padding: 0;
}

.job .job-circle.success {
    background-color: #2E7D32;
}

.job .job-circle.running {
    background-color: #1565C0;
}

.job .job-circle.pending,
.job .job-circle.warning {
    background-color: #EF6C00;
}

.job .job-circle.failed {
    background-color: #C62828;
}

.job .job-circle.canceled {
    background-color: #010101;
}

.job .job-circle.skipped,
.job .job-circle.manual {
    background-color: #4b4b4b;
}

.job .pipe {
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 6px;
}

@-webkit-keyframes pulsate_animation {
    0% { opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

.pulsate {
    animation: pulsate_animation 2s ease-out;
    animation-iteration-count: infinite; 
    opacity: 1;
}

